<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>att1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{93,123}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{267,94},{93,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>att2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{93,123}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{267,94},{93,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>att3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{129,169}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>att4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{129,169}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>att5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-3}</string>
                <key>spriteSize</key>
                <string>{91,155}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{267,1},{91,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>att6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-3}</string>
                <key>spriteSize</key>
                <string>{91,155}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{267,1},{91,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>att7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{151,133}</string>
                <key>spriteSourceSize</key>
                <string>{151,175}</string>
                <key>textureRect</key>
                <string>{{132,1},{151,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>att.png</string>
            <key>size</key>
            <string>{423,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b54853e3722d3a41e5ab5c4b2d9e2e4:e0360731d2b3f1d448774be7064af4aa:34fc58f8d5c74705a77f0bc012467b94$</string>
            <key>textureFileName</key>
            <string>att.png</string>
        </dict>
    </dict>
</plist>
