<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,41},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,81},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,41},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B.png</string>
            <key>size</key>
            <string>{32,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f56e0434eea4411121b521e76cc9f91:e0b9801adf6a401bd824977e878f2997:a5f3f795305cc670cc98acd7955d21db$</string>
            <key>textureFileName</key>
            <string>B.png</string>
        </dict>
    </dict>
</plist>
