<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{109,90}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{589,1},{109,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{119,94}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{780,1},{103,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{99,112}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{279,1},{99,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{91,116}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{97,1},{91,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{87,114}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{190,1},{87,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{97,108}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{681,1},{97,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{478,1},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{111,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{380,1},{111,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BasicEnemy.png</string>
            <key>size</key>
            <string>{877,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:656283a70598949bddf14ffbf64de270:7cf3fe37c4a0e32d88116271361197e2:3c0b3d36776f536e09d42824f9891a0a$</string>
            <key>textureFileName</key>
            <string>BasicEnemy.png</string>
        </dict>
    </dict>
</plist>
