<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{211,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{218,1},{211,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{211,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{644,1},{211,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{197,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1062,1},{197,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{171,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1442,1},{171,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{211,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{431,1},{211,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{211,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{644,1},{211,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{171,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1442,1},{171,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{203,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{857,1},{203,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{211,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{431,1},{211,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{197,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1062,1},{197,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{179,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1261,1},{179,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{215,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{197,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1062,1},{197,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HeavyEnemy.png</string>
            <key>size</key>
            <string>{1614,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d4b58cabf822e182902ca558821f54:1cfa294ea65faf2d4d387d6090145de0:e0bb8fb6848c10350e58417039678344$</string>
            <key>textureFileName</key>
            <string>HeavyEnemy.png</string>
        </dict>
    </dict>
</plist>
