<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{49,120}</string>
                <key>spriteSourceSize</key>
                <string>{63,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{49,120}</string>
                <key>spriteSourceSize</key>
                <string>{63,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{49,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i.png</string>
            <key>size</key>
            <string>{51,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:306e8f27ece4c60935e26adbfe2a1a97:cfa34a8abf7898a122f7d06b94af8f85:b8eb80cdd932c66eb0c87a0954cdf3b7$</string>
            <key>textureFileName</key>
            <string>i.png</string>
        </dict>
    </dict>
</plist>
