<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{63,116}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{394,1},{63,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{79,116}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{313,1},{79,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{99,112}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{560,1},{99,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{92,1},{77,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,120}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{250,1},{61,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,120}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{99,114}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{459,1},{99,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{171,1},{77,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r.png</string>
            <key>size</key>
            <string>{660,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d15156ad8a51ca6a28b57e6e987d87ea:bbfc8f73ebfa1231ccef0b9e19896e27:a6d4d55a3e23470ce798a9e86a048929$</string>
            <key>textureFileName</key>
            <string>r.png</string>
        </dict>
    </dict>
</plist>
