<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{630,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{85,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{292,1},{85,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{466,1},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{717,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{630,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{717,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{804,1},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{81,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{547,1},{81,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{85,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{379,1},{85,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{91,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{199,1},{91,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShootingEnemy.png</string>
            <key>size</key>
            <string>{890,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f729953c17b895050a07f146ad89e860:4dc02d8f2b552bc86a497213632b1d82:a84cef53de920a2b5523605560d7207e$</string>
            <key>textureFileName</key>
            <string>ShootingEnemy.png</string>
        </dict>
    </dict>
</plist>
